body {
    background-color: lightblue;
  }
  
  h1 {
    color:black`;
    text-align: left;
  }
  h2 {
    color: black;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
background: #105AC5;
background: conic-gradient(from 315deg, #105AC5, #D4DEFA);